.nav-container{
  background-color: rgb(136, 207, 255);
  border: 13px solid rgb(255, 255, 49);
}

.summary{
  background-color: aquamarine;
  border: 13px solid blue;
}

.dashboard{
  background-color: bisque;
  border: 13px solid rgb(255, 0, 140);
}

.footer{
  background-color: rgb(181, 181, 245);
}


