.nav-container{
  background-color: rgb(53, 168, 255);
  box-shadow:  10px 9px 5px #aaaaaa;
  border-radius: 12px;
}

.nav{
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-between;
  padding: 30px;
  margin:0%;
  border-radius: 100px;
}

.logo{
  font-size: 30px;
  color: rgb(255, 0, 0);
  background-color: white;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 2px 3px;
}

#theme-toggle{
  height: 60px;
  width: 90px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}